<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
                
    <ui:define name="title">Hotspot Request Log</ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">
                    <!-- This is used to as display name on the lookups.xhtml -->
					<!--  <displayName>Hotspot Request Log</displayName> -->
					<h3 class="box-title"><i class="fa fa-th"></i> Hotspot Request Log</h3>
					<h:form id="mainForm">
						<p:fieldset>
							<br/>
							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
								  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="errorMessage" value="#{hotspotRequestLogUI.hotspotRequestLog.errorMessage}"  style="width:100%" required="true" requiredMessage="Please enter errorMessage"/>
															 <p:outputLabel value="Error Message" for="errorMessage" />
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="userId" value="#{hotspotRequestLogUI.hotspotRequestLog.userId}"  style="width:100%" required="true" requiredMessage="Please enter userId"/>
															 <p:outputLabel value="User Id" for="userId" />
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="success" value="#{hotspotRequestLogUI.hotspotRequestLog.success}"  style="width:100%" required="true" requiredMessage="Please enter success"/>
															 <p:outputLabel value="Success" for="success" />
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="token" value="#{hotspotRequestLogUI.hotspotRequestLog.token}"  style="width:100%" required="true" requiredMessage="Please enter token"/>
															 <p:outputLabel value="Token" for="token" />
														</h:panelGroup>


							 </p:panelGrid>
							 <br/>
						 </p:fieldset>
						 <h:panelGroup styleClass="md-inputfield">
						      <br/>
	                          <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{hotspotRequestLogUI.saveHotspotRequestLog}"/>
                 		      <p:spacer width="10"/>
                 			  <p:commandButton value="Clear" process="@this" icon="fa fa-recycle" class="btn orange-btn" update="@form" actionListener="#{hotspotRequestLogUI.reset}"/>
                		</h:panelGroup>
					 </h:form>
                </div>
                <div class="card">
                	 <h:form id="tableForm">
                	 	<p:dataTable  var="var" value="#{hotspotRequestLogUI.dataModel}" id="hotspotRequestLogList" rowKey="#{var.id}" paginator="true" rows="5" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true" lazy="true">
								    <f:facet name="header">
								           <h:outputText value="Hotspot Request Log List" />
								    </f:facet>
								   									<p:column headerText="Error Message"  sortBy="#{var.errorMessage}" filterBy="#{var.errorMessage}">
									    <h:outputText value="#{var.errorMessage}"/>
									 </p:column>

									<p:column headerText="User Id"  sortBy="#{var.userId}" filterBy="#{var.userId}">
									    <h:outputText value="#{var.userId}"/>
									 </p:column>

									<p:column headerText="Success"  sortBy="#{var.success}" filterBy="#{var.success}">
									    <h:outputText value="#{var.success}"/>
									 </p:column>

									<p:column headerText="Token"  sortBy="#{var.token}" filterBy="#{var.token}">
									    <h:outputText value="#{var.token}"/>
									 </p:column>


								    <p:column headerText="Last Update Date"  sortBy="#{var.lastUpdateDate}">
								        <h:outputText value="#{var.lastUpdateDate}">
								        	<f:convertDateTime pattern="dd MMM yyyy" />
								        </h:outputText>
								         <h:outputText value="N/A" rendered="#{var.lastUpdateDate eq null}"/>
								    </p:column>
								    
								    <p:column headerText="Last Update User"  sortBy="#{var.lastUpdateUser}">
								        <h:outputText value="#{var.lastUpdateUser.name} #{var.lastUpdateUser.surname}"/>
								        <h:outputText value="N/A" rendered="#{var.lastUpdateUser eq null}"/>
								    </p:column>
								    
								    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
								        <h:outputText value="#{var.createDate}">
								        	<f:convertDateTime pattern="dd MMM yyyy" />
								        </h:outputText>
								    </p:column>

								    <p:column width="90">
										<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
											<f:setPropertyActionListener value="#{var}" target="#{hotspotRequestLogUI.hotspotRequestLog}" />
										</p:commandButton>
										<p:spacer width="5" />
										<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block orange-btn btn-xs" update="mainForm tableForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{hotspotRequestLogUI.deleteHotspotRequestLog}">
											<p:confirm header="Confirm" message="Are you sure you want to delete this hotspotRequestLog?" icon="ui-icon-warning" />
											<f:setPropertyActionListener value="#{var}" target="#{hotspotRequestLogUI.hotspotRequestLog}" />
										</p:commandButton>
									</p:column>
							</p:dataTable>
                	 </h:form>
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>
