<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Reported Hotspot</ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">
                    <!-- This is used to as display name on the lookups.xhtml -->
                    <!--  <displayName>Reported Hotspot</displayName> -->
                    <h3 class="box-title"><i class="fa fa-th"></i> Reported Hotspot</h3>
                    <h:form id="mainForm">
                        <p:fieldset>
                            <br/>
                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="fullName" value="#{reportedHotspotUI.reportedHotspot.fullName}"
                                                 style="width:100%" required="true"
                                                 requiredMessage="Please enter fullName"/>
                                    <p:outputLabel value="Full Name" for="fullName"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="email" value="#{reportedHotspotUI.reportedHotspot.email}"
                                                 style="width:100%" required="true"
                                                 requiredMessage="Please enter email"/>
                                    <p:outputLabel value="Email" for="email"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="additionalInfo"
                                                 value="#{reportedHotspotUI.reportedHotspot.additionalInfo}"
                                                 style="width:100%" required="true"
                                                 requiredMessage="Please enter additionalInfo"/>
                                    <p:outputLabel value="Additional Info" for="additionalInfo"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="longitude" value="#{reportedHotspotUI.reportedHotspot.longitude}"
                                                 style="width:100%" required="true"
                                                 requiredMessage="Please enter longitude"/>
                                    <p:outputLabel value="Longitude" for="longitude"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="latitude" value="#{reportedHotspotUI.reportedHotspot.latitude}"
                                                 style="width:100%" required="true"
                                                 requiredMessage="Please enter latitude"/>
                                    <p:outputLabel value="Latitude" for="latitude"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="processed" value="#{reportedHotspotUI.reportedHotspot.processed}"
                                                 style="width:100%" required="true"
                                                 requiredMessage="Please enter processed"/>
                                    <p:outputLabel value="Processed" for="processed"/>
                                </h:panelGroup>


                            </p:panelGrid>
                            <br/>
                        </p:fieldset>
                        <h:panelGroup styleClass="md-inputfield">
                            <br/>
                            <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()"
                                             value="Submit" icon="fa fa-save" class="btn btn-primary"
                                             update="@form tableForm"
                                             actionListener="#{reportedHotspotUI.saveReportedHotspot}"/>
                            <p:spacer width="10"/>
                            <p:commandButton value="Clear" process="@this" icon="fa fa-recycle" class="btn orange-btn"
                                             update="@form" actionListener="#{reportedHotspotUI.reset}"/>
                        </h:panelGroup>
                    </h:form>
                </div>
                <div class="card">
                    <h:form id="tableForm">
                        <p:dataTable var="var" value="#{reportedHotspotUI.dataModel}" id="reportedHotspotList"
                                     rowKey="#{var.id}" paginator="true" rows="5" paginatorPosition="bottom"
                                     paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true"
                                     lazy="true">
                            <f:facet name="header">
                                <h:outputText value="Reported Hotspot List"/>
                            </f:facet>
                            <p:column headerText="Full Name" sortBy="#{var.fullName}" filterBy="#{var.fullName}">
                                <h:outputText value="#{var.fullName}"/>
                            </p:column>

                            <p:column headerText="Email" sortBy="#{var.email}" filterBy="#{var.email}">
                                <h:outputText value="#{var.email}"/>
                            </p:column>

                            <p:column headerText="Additional Info" sortBy="#{var.additionalInfo}"
                                      filterBy="#{var.additionalInfo}">
                                <h:outputText value="#{var.additionalInfo}"/>
                            </p:column>

                            <p:column headerText="Longitude" sortBy="#{var.longitude}" filterBy="#{var.longitude}">
                                <h:outputText value="#{var.longitude}"/>
                            </p:column>

                            <p:column headerText="Latitude" sortBy="#{var.latitude}" filterBy="#{var.latitude}">
                                <h:outputText value="#{var.latitude}"/>
                            </p:column>

                            <p:column headerText="Processed" sortBy="#{var.processed}" filterBy="#{var.processed}">
                                <h:outputText value="#{var.processed}"/>
                            </p:column>


                            <p:column headerText="Last Update Date" sortBy="#{var.lastUpdateDate}">
                                <h:outputText value="#{var.lastUpdateDate}">
                                    <f:convertDateTime pattern="dd MMM yyyy"/>
                                </h:outputText>
                                <h:outputText value="N/A" rendered="#{var.lastUpdateDate eq null}"/>
                            </p:column>

                            <p:column headerText="Last Update User" sortBy="#{var.lastUpdateUser}">
                                <h:outputText value="#{var.lastUpdateUser.name} #{var.lastUpdateUser.surname}"/>
                                <h:outputText value="N/A" rendered="#{var.lastUpdateUser eq null}"/>
                            </p:column>

                            <p:column headerText="Date Created" sortBy="#{var.createDate}">
                                <h:outputText value="#{var.createDate}">
                                    <f:convertDateTime pattern="dd MMM yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column width="90">
                                <p:commandButton class="btn btn-block btn-info btn-xs" icon="fa fa-database"
                                                 title="Update" process="@this" update="mainForm">
                                    <f:setPropertyActionListener value="#{var}"
                                                                 target="#{reportedHotspotUI.reportedHotspot}"/>
                                </p:commandButton>
                                <p:spacer width="5"/>
                                <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()"
                                                 class="btn btn-block orange-btn btn-xs" update="mainForm tableForm"
                                                 icon="fa fa-trash-o" title="Delete" process="@this"
                                                 action="#{reportedHotspotUI.deleteReportedHotspot}">
                                    <p:confirm header="Confirm"
                                               message="Are you sure you want to delete this reportedHotspot?"
                                               icon="ui-icon-warning"/>
                                    <f:setPropertyActionListener value="#{var}"
                                                                 target="#{reportedHotspotUI.reportedHotspot}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>
