<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">User</ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">
                    <!-- This is used to as display name on the lookups.xhtml -->
                    <!--  <displayName>Users</displayName> -->
                    <h3 class="box-title"><i class="fa fa-th"></i> User</h3>
                    <h:form id="mainForm">
                        <p:fieldset>
                            <br/>
                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="name" value="#{userUI.user.name}" style="width:100%"
                                                 required="true" requiredMessage="Please enter name"/>
                                    <p:outputLabel value="Name" for="name"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="password" value="#{userUI.user.password}" style="width:100%"
                                                 required="true" requiredMessage="Please enter password"/>
                                    <p:outputLabel value="Password" for="password"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="title" value="#{userUI.user.title}" style="width:100%"
                                                 required="true" requiredMessage="Please enter title"/>
                                    <p:outputLabel value="Title" for="title"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="image" value="#{userUI.user.image}" style="width:100%"
                                                 required="true" requiredMessage="Please enter image"/>
                                    <p:outputLabel value="Image" for="image"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="gender" value="#{userUI.user.gender}" style="width:100%"
                                                 required="true" requiredMessage="Please enter gender"/>
                                    <p:outputLabel value="Gender" for="gender"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="username" value="#{userUI.user.username}" style="width:100%"
                                                 required="true" requiredMessage="Please enter username"/>
                                    <p:outputLabel value="Username" for="username"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="cellNumber" value="#{userUI.user.cellNumber}" style="width:100%"
                                                 required="true" requiredMessage="Please enter cellNumber"/>
                                    <p:outputLabel value="Cell Number" for="cellNumber"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="userRole" value="#{userUI.user.userRole}" style="width:100%"
                                                 required="true" requiredMessage="Please enter userRole"/>
                                    <p:outputLabel value="User Role" for="userRole"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="enabled" value="#{userUI.user.enabled}" style="width:100%"
                                                 required="true" requiredMessage="Please enter enabled"/>
                                    <p:outputLabel value="Enabled" for="enabled"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="idNumber" value="#{userUI.user.idNumber}" style="width:100%"
                                                 required="true" requiredMessage="Please enter idNumber"/>
                                    <p:outputLabel value="Id Number" for="idNumber"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="surname" value="#{userUI.user.surname}" style="width:100%"
                                                 required="true" requiredMessage="Please enter surname"/>
                                    <p:outputLabel value="Surname" for="surname"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="creatorUser" value="#{userUI.user.creatorUser}" style="width:100%"
                                                 required="true" requiredMessage="Please enter creatorUser"/>
                                    <p:outputLabel value="Creator User" for="creatorUser"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:calendar inputStyle="width:50%" id="lastLoginDate"
                                                value="#{userUI.user.lastLoginDate}" showOn="button" required="true"
                                                requiredMessage="Please enter Last Login Date" navigator="true"
                                                pattern="#{commonUI.DATE_FORMAT}">
                                        <p:ajax event="dateSelect" update="@form"/>
                                    </p:calendar>
                                    <p:outputLabel class="box-title" value="Last Login Date" for="lastLoginDate"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="changePassword" value="#{userUI.user.changePassword}"
                                                 style="width:100%" required="true"
                                                 requiredMessage="Please enter changePassword"/>
                                    <p:outputLabel value="Change Password" for="changePassword"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="email" value="#{userUI.user.email}" style="width:100%"
                                                 required="true" requiredMessage="Please enter email"/>
                                    <p:outputLabel value="Email" for="email"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="roles" value="#{userUI.user.roles}" style="width:100%"
                                                 required="true" requiredMessage="Please enter roles"/>
                                    <p:outputLabel value="Roles" for="roles"/>
                                </h:panelGroup>

                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText id="dob" value="#{userUI.user.dob}" style="width:100%" required="true"
                                                 requiredMessage="Please enter dob"/>
                                    <p:outputLabel value="Dob" for="dob"/>
                                </h:panelGroup>


                            </p:panelGrid>
                            <br/>
                        </p:fieldset>
                        <h:panelGroup styleClass="md-inputfield">
                            <br/>
                            <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()"
                                             value="Submit" icon="fa fa-save" class="btn btn-primary"
                                             update="@form tableForm" actionListener="#{userUI.saveUser}"/>
                            <p:spacer width="10"/>
                            <p:commandButton value="Clear" process="@this" icon="fa fa-recycle" class="btn orange-btn"
                                             update="@form" actionListener="#{userUI.reset}"/>
                        </h:panelGroup>
                    </h:form>
                </div>
                <div class="card">
                    <h:form id="tableForm">
                        <p:dataTable var="var" value="#{userUI.dataModel}" id="userList" rowKey="#{var.id}"
                                     paginator="true" rows="5" paginatorPosition="bottom"
                                     paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true"
                                     lazy="true">
                            <f:facet name="header">
                                <h:outputText value="User List"/>
                            </f:facet>
                            <p:column headerText="Name" sortBy="#{var.name}" filterBy="#{var.name}">
                                <h:outputText value="#{var.name}"/>
                            </p:column>

                            <p:column headerText="Password" sortBy="#{var.password}" filterBy="#{var.password}">
                                <h:outputText value="#{var.password}"/>
                            </p:column>

                            <p:column headerText="Title" sortBy="#{var.title}" filterBy="#{var.title}">
                                <h:outputText value="#{var.title}"/>
                            </p:column>

                            <p:column headerText="Image" sortBy="#{var.image}" filterBy="#{var.image}">
                                <h:outputText value="#{var.image}"/>
                            </p:column>

                            <p:column headerText="Gender" sortBy="#{var.gender}" filterBy="#{var.gender}">
                                <h:outputText value="#{var.gender}"/>
                            </p:column>

                            <p:column headerText="Username" sortBy="#{var.username}" filterBy="#{var.username}">
                                <h:outputText value="#{var.username}"/>
                            </p:column>

                            <p:column headerText="Cell Number" sortBy="#{var.cellNumber}" filterBy="#{var.cellNumber}">
                                <h:outputText value="#{var.cellNumber}"/>
                            </p:column>

                            <p:column headerText="User Role" sortBy="#{var.userRole}" filterBy="#{var.userRole}">
                                <h:outputText value="#{var.userRole}"/>
                            </p:column>

                            <p:column headerText="Enabled" sortBy="#{var.enabled}" filterBy="#{var.enabled}">
                                <h:outputText value="#{var.enabled}"/>
                            </p:column>

                            <p:column headerText="Id Number" sortBy="#{var.idNumber}" filterBy="#{var.idNumber}">
                                <h:outputText value="#{var.idNumber}"/>
                            </p:column>

                            <p:column headerText="Surname" sortBy="#{var.surname}" filterBy="#{var.surname}">
                                <h:outputText value="#{var.surname}"/>
                            </p:column>

                            <p:column headerText="Creator User" sortBy="#{var.creatorUser}"
                                      filterBy="#{var.creatorUser}">
                                <h:outputText value="#{var.creatorUser}"/>
                            </p:column>

                            <p:column headerText="Last Login Date" sortBy="#{var.lastLoginDate}"
                                      filterBy="#{var.lastLoginDate}">
                                <h:outputText value="#{var.lastLoginDate}"/>
                            </p:column>

                            <p:column headerText="Change Password" sortBy="#{var.changePassword}"
                                      filterBy="#{var.changePassword}">
                                <h:outputText value="#{var.changePassword}"/>
                            </p:column>

                            <p:column headerText="Email" sortBy="#{var.email}" filterBy="#{var.email}">
                                <h:outputText value="#{var.email}"/>
                            </p:column>

                            <p:column headerText="Roles" sortBy="#{var.roles}" filterBy="#{var.roles}">
                                <h:outputText value="#{var.roles}"/>
                            </p:column>

                            <p:column headerText="Dob" sortBy="#{var.dob}" filterBy="#{var.dob}">
                                <h:outputText value="#{var.dob}"/>
                            </p:column>


                            <p:column headerText="Last Update Date" sortBy="#{var.lastUpdateDate}">
                                <h:outputText value="#{var.lastUpdateDate}">
                                    <f:convertDateTime pattern="dd MMM yyyy"/>
                                </h:outputText>
                                <h:outputText value="N/A" rendered="#{var.lastUpdateDate eq null}"/>
                            </p:column>

                            <p:column headerText="Last Update User" sortBy="#{var.lastUpdateUser}">
                                <h:outputText value="#{var.lastUpdateUser.name} #{var.lastUpdateUser.surname}"/>
                                <h:outputText value="N/A" rendered="#{var.lastUpdateUser eq null}"/>
                            </p:column>

                            <p:column headerText="Date Created" sortBy="#{var.createDate}">
                                <h:outputText value="#{var.createDate}">
                                    <f:convertDateTime pattern="dd MMM yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column width="90">
                                <p:commandButton class="btn btn-block btn-info btn-xs" icon="fa fa-database"
                                                 title="Update" process="@this" update="mainForm">
                                    <f:setPropertyActionListener value="#{var}" target="#{userUI.user}"/>
                                </p:commandButton>
                                <p:spacer width="5"/>
                                <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()"
                                                 class="btn btn-block orange-btn btn-xs" update="mainForm tableForm"
                                                 icon="fa fa-trash-o" title="Delete" process="@this"
                                                 action="#{userUI.deleteUser}">
                                    <p:confirm header="Confirm" message="Are you sure you want to delete this user?"
                                               icon="ui-icon-warning"/>
                                    <f:setPropertyActionListener value="#{var}" target="#{userUI.user}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>
