<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Hotspots</ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">
                    <!-- This is used to as display name on the lookups.xhtml -->
                    <!--  <displayName>Hotspots</displayName> -->
                    <h3 class="box-title"><i class="fa fa-th"></i> Hotspot</h3>
                    <h:form id="mainForm">
                        <p:fieldset>
                            <br/>
                            <p:panelGrid id="pgHotspotDetails" columns="1" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group">

                                <h:panelGroup>
                                    <p:fieldset legend="Select the type of crime(s)">
                                        <p:selectManyMenu required="true" style="width: 100%"
                                                          requiredMessage="Please select at least one crime type"
                                                          id="crimeType" value="#{hotspotUI.selectedCrimeTypeList}"
                                                          converter="#{crimeTypeConvertor}"
                                                          var="t" filter="true" filterMatchMode="contains"
                                                          showCheckbox="true">
                                            <f:selectItems value="#{hotspotUI.crimeTypeList}" var="var"
                                                           itemLabel="#{var.description}" itemValue="#{var}"/>
                                            <p:column>
                                                <h:outputText value="#{t.description}"/>
                                            </p:column>
                                            <p:ajax/>
                                        </p:selectManyMenu>
                                    </p:fieldset>
                                </h:panelGroup>

                                <p:fieldset legend="Hotspot Location">

                                    <p:fieldset legend="Search Location">
                                        <p:panelGrid columns="2" layout="grid"
                                                     styleClass="ui-panelgrid-blank form-group">
                                            <h:panelGroup>
                                                <h:panelGroup styleClass="md-inputfield" id="pgSearchAddr">
                                                    <p:inputText
                                                            id="searchAddr" value="#{hotspotUI.searchAdderss}"
                                                            style="width:90%"
                                                            required="false" requiredMessage="Please enter address"/>
                                                    <p:outputLabel style="width:90%"
                                                                   value="Address(e.g Complex/building, street name or town)"
                                                                   for="searchAddr"/>
                                                    <p:spacer width="5"></p:spacer>
                                                    <p:commandButton onstart="PF('loading').show()"
                                                                     oncomplete="PF('loading').hide()"
                                                                     icon="fa fa-search"
                                                                     class="btn btn-primary"
                                                                     process="pgSearchAddr"
                                                                     update="@form"
                                                                     actionListener="#{hotspotUI.findGPSCoordinates}"/>
                                                </h:panelGroup>

                                            </h:panelGroup>

                                            <h:panelGroup>
                                                <h:panelGroup styleClass="md-inputfield" rendered="true">
                                                    <p:commandButton
                                                            update="mapDialog mapForm"
                                                            oncomplete="PF('mapDialog').show()"
                                                            value="Or Select Hotspot Location" class="btn btn-default"
                                                            icon="fa fa-map-marker" title="Pin Location"
                                                            process="@this"/>
                                                </h:panelGroup>
                                            </h:panelGroup>

                                        </p:panelGrid>
                                    </p:fieldset>

                                    <h:panelGroup
                                            rendered="#{hotspotUI.hotspot.longitude ne null and hotspotUI.hotspot.latitude ne null}">
                                        <p:fieldset legend="Location Details">
                                            <p:panelGrid columns="2">
                                                <h:outputText value="LONGITUDE"/>
                                                <h:outputText value=": #{hotspotUI.hotspot.longitude}"/>

                                                <h:outputText value="LATITUDE"/>
                                                <h:outputText value=": #{hotspotUI.hotspot.latitude}"/>

                                                <h:outputText value="ADDRESS"/>
                                                <h:outputText value=": #{hotspotUI.hotspot.formattedAddress}"/>
                                            </p:panelGrid>
                                        </p:fieldset>
                                    </h:panelGroup>
                                </p:fieldset>

                                <p:fieldset legend="Safety Tips">

                                    <p:pickList style="width:100%" id="stPickList"
                                                value="#{hotspotUI.safetyTipDualList}" var="stRW"
                                                itemLabel=" #{stRW.description}" itemValue="#{stRW}"
                                                converter="#{safetyTipConvertor}" responsive="true" showCheckbox="true"
                                                showSourceFilter="true" showTargetFilter="true"
                                                filterMatchMode="contains"
                                                effect="drop" styleClass="picklist-responsive">
                                        <p:ajax event="transfer"/>
                                        <f:facet name="sourceCaption">Available Safety Tips</f:facet>
                                        <f:facet name="targetCaption">Selected Safety Tips</f:facet>
                                    </p:pickList>

                                </p:fieldset>


                                <h:panelGroup styleClass="md-inputfield">
                                    <p:selectBooleanCheckbox id="active" value="#{hotspotUI.hotspot.active}"
                                                             itemLabel="Active">
                                        <p:ajax/>
                                    </p:selectBooleanCheckbox>
                                </h:panelGroup>

                                <p:fieldset legend="Additional Information">
                                    <p:inputTextarea id="additionalInfo" rows="2" cols="33"
                                                     placeholder="Please enter any additional info"
                                                     value="#{hotspotUI.hotspot.additionalInfo}"
                                                     style="width: 100%">
                                        <p:ajax/>
                                    </p:inputTextarea>
                                </p:fieldset>

                            </p:panelGrid>


                            <br/>
                        </p:fieldset>
                        <h:panelGroup styleClass="md-inputfield">
                            <br/>
                            <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()"
                                             value="Submit" icon="fa fa-save" class="btn btn-primary"
                                             update="@form tableForm" actionListener="#{hotspotUI.saveHotspot}"/>
                            <p:spacer width="10"/>
                            <p:commandButton value="Clear" process="@this" icon="fa fa-recycle" class="btn orange-btn"
                                             update="@form" actionListener="#{hotspotUI.reset}"/>
                        </h:panelGroup>

                    </h:form>
                </div>

                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card">
                            <h3 class="box-title"><i class="fa fa-th"></i> Import Crime Hotsport</h3>
                            <h:form id="importForm">
                                <p:fieldset>
                                    <p:commandButton value="Upload CSV" oncomplete="PF('uploadDialog').show()"
                                                     update=":uploadDialog"/>
                                </p:fieldset>
                                <br/>

                                <p:fieldset legend="Save Imported Hotsport"
                                            rendered="#{hotspotImportUI.hotspotList.size() gt 1}">
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:commandButton onstart="PF('loading').show()"
                                                         oncomplete="PF('loading').hide()"
                                                         value="Save Imported Hotspot" icon="fa fa-save"
                                                         class="btn green-btn"
                                                         update="@form importForm"
                                                         actionListener="#{hotspotImportUI.saveImportedHotspot}"/>
                                        <p:spacer width="40"/>
                                        <p:commandButton value="Clear All" process="@this" icon="fa fa-recycle"
                                                         class="btn orange-btn"
                                                         update="@form" actionListener="#{hotspotImportUI.reset}"/>
                                        <p:spacer height="15"/>
                                        <br/>
                                        <h:outputText style="color: dodgerblue"
                                                      value="Note: Only hotspots that are imported withought error will be saved"/>
                                    </h:panelGroup>
                                </p:fieldset>

                                <br/>
                                <p:dataTable rendered="#{hotspotImportUI.hotspotList.size() gt 1}" var="var"
                                             value="#{hotspotImportUI.hotspotList}" id="imortedHotspotList"
                                             rowKey="#{var.id}"
                                             paginator="true" rows="5" paginatorPosition="bottom"
                                             paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100"
                                             reflow="true"
                                             lazy="true">

                                    <f:facet name="header">
                                        <h:outputText value="Imported Hotspot List"/>
                                    </f:facet>


                                    <p:column headerText="Longitude" sortBy="#{var.longitude}"
                                              filterBy="#{var.longitude}">
                                        <h:outputText value="#{var.longitude}"/>
                                    </p:column>


                                    <p:column headerText="Latitude" sortBy="#{var.latitude}" filterBy="#{var.latitude}">
                                        <h:outputText value="#{var.latitude}"/>
                                    </p:column>

                                    <p:column headerText="Active" sortBy="#{var.active}" filterBy="#{var.active}">
                                        <h:outputText value="#{var.active}"/>
                                    </p:column>


                                    <p:column headerText="Address" sortBy="#{var.formattedAddress}"
                                              filterBy="#{var.formattedAddress}">
                                        <h:outputText value="#{var.formattedAddress}"/>
                                    </p:column>

                                    <p:column headerText="Additional Info" sortBy="#{var.additionalInfo}"
                                              filterBy="#{var.additionalInfo}">
                                        <h:outputText value="#{var.additionalInfo}"/>
                                    </p:column>

                                    <p:column headerText="Type of crimes">
                                        <h:outputText value="#{var.formattedCrimeType}"/>
                                    </p:column>

                                    <p:column headerText="Safety Tips">
                                        <h:outputText value="#{var.formattedSafetyTips}"/>
                                    </p:column>

                                    <p:column headerText="Process Errors">
                                        <h:outputText style="color: red" value="#{var.processError}"/>
                                    </p:column>

                                </p:dataTable>

                            </h:form>
                        </div>
                    </div>
                </div>


                <h:form id="tableForm">
                    <div class="card">
                        <p:dataTable var="var" value="#{hotspotUI.dataModel}" id="hotspotList" rowKey="#{var.id}"
                                     paginator="true" rows="5" paginatorPosition="bottom"
                                     paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true"
                                     lazy="true">
                            <f:facet name="header">
                                <h:outputText value="Hotspot List"/>
                            </f:facet>


                            <p:column headerText="Longitude" sortBy="#{var.longitude}" filterBy="#{var.longitude}">
                                <h:outputText value="#{var.longitude}"/>
                            </p:column>


                            <p:column headerText="Latitude" sortBy="#{var.latitude}" filterBy="#{var.latitude}">
                                <h:outputText value="#{var.latitude}"/>
                            </p:column>

                            <p:column headerText="Active" sortBy="#{var.active}" filterBy="#{var.active}">
                                <h:outputText value="#{var.active}"/>
                            </p:column>

                            <p:column headerText="Last Update Date" sortBy="#{var.lastUpdateDate}">
                                <h:outputText value="#{var.lastUpdateDate}">
                                    <f:convertDateTime pattern="dd MMM yyyy"/>
                                </h:outputText>
                                <h:outputText value="N/A" rendered="#{var.lastUpdateDate eq null}"/>
                            </p:column>

                            <p:column headerText="Address" sortBy="#{var.formattedAddress}"
                                      filterBy="#{var.formattedAddress}">
                                <h:outputText value="#{var.formattedAddress}"/>
                            </p:column>

                            <p:column headerText="Additional Info" sortBy="#{var.additionalInfo}"
                                      filterBy="#{var.additionalInfo}">
                                <h:outputText value="#{var.additionalInfo}"/>
                            </p:column>

                            <p:column headerText="Date Created" sortBy="#{var.createDate}">
                                <h:outputText value="#{var.createDate}">
                                    <f:convertDateTime pattern="dd MMM yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column width="100">
                                <p:commandButton class="btn btn-block btn-info btn-xs" icon="fa fa-database"
                                                 title="Update" process="@this" update="mainForm"
                                                 action="#{hotspotUI.prepareUpdate()}">
                                    <f:setPropertyActionListener value="#{var}" target="#{hotspotUI.hotspot}"/>
                                </p:commandButton>
                                <p:spacer width="5"/>
                                <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()"
                                                 class="btn btn-block orange-btn btn-xs" update="mainForm tableForm"
                                                 icon="fa fa-trash-o" title="Delete" process="@this"
                                                 action="#{hotspotUI.deleteHotspot}">
                                    <p:confirm header="Confirm" message="Are you sure you want to delete this hotspot?"
                                               icon="ui-icon-warning"/>
                                    <f:setPropertyActionListener value="#{var}" target="#{hotspotUI.hotspot}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </div>

                    <div class="card">
                        <p:dataTable var="var" value="#{hotspotUI.reportedHotspotDataModel}" id="reportedHotspotList" rowKey="#{var.id}"
                                     paginator="true" rows="5" paginatorPosition="bottom"
                                     paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true"
                                     lazy="true">
                            <f:facet name="header">
                                <h:outputText value="Reported Hotspot List"/>
                            </f:facet>


                            <p:column headerText="Longitude" sortBy="#{var.longitude}" filterBy="#{var.longitude}">
                                <h:outputText value="#{var.longitude}"/>
                            </p:column>


                            <p:column headerText="Latitude" sortBy="#{var.latitude}" filterBy="#{var.latitude}">
                                <h:outputText value="#{var.latitude}"/>
                            </p:column>

                            <p:column headerText="Address" sortBy="#{var.formattedAddress}"
                                      filterBy="#{var.formattedAddress}">
                                <h:outputText value="#{var.formattedAddress}"/>
                            </p:column>

                            <p:column headerText="Additional Info" sortBy="#{var.additionalInfo}"
                                      filterBy="#{var.additionalInfo}">
                                <h:outputText value="#{var.additionalInfo}"/>
                            </p:column>

                            <p:column headerText="Total Number of Reports" sortBy="#{var.totalNumberReported}"
                                      filterBy="#{var.totalNumberReported}">
                                <h:outputText value="#{var.totalNumberReported}"/>
                            </p:column>

                            <p:column headerText="Date Created" sortBy="#{var.createDate}">
                                <h:outputText value="#{var.createDate}">
                                    <f:convertDateTime pattern="dd MMM yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column width="50">
                                <p:commandButton class="btn btn-block btn-info btn-xs" icon="fa fa-database"
                                                 title="Update" process="@this" update="mainForm"
                                                 action="#{hotspotUI.prepareReportedHotspot()}">
                                    <f:setPropertyActionListener value="#{var}" target="#{hotspotUI.reportedHotspot}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </div>
                </h:form>

            </div>
        </div>

        <p:dialog header="Upload Schools" widgetVar="uploadDialog" hideEffect="clip" showEffect="clip" id="uploadDialog"
                  appendTo="@(body)" modal="true" closable="true" width="60%" height="50%" responsive="true"
                  closeOnEscape="true">
            <h:form id="uploadCSV" enctype="multipart/form-data">
                <p:fileUpload fileUploadListener="#{hotspotImportUI.uploadHotspots}" mode="advanced"
                              allowTypes="/(\.|\/)(csv|CSV)$/" fileLimit="1"
                              update="@form importForm" immediate="true" label="Select CSV file to import" auto="true"
                              oncomplete="PF('uploadDialog').hide()"/>
            </h:form>
        </p:dialog>

        <p:dialog widgetVar="mapDialog" hideEffect="clip" showEffect="clip"
                  id="mapDialog" appendTo="@(body)" modal="true" closable="true"
                  width="50%" height="70%" responsive="true" closeOnEscape="true">
            <f:facet name="header">
                <h4 class="box-title">Select Location</h4>
            </f:facet>

            <h:form id="mapForm" prependId="false">

                <p:gmap widgetVar="map" rendered="true" id="map"
                        center="-26.205072,28.046915" zoom="15" type="ROADMAP"
                        style="width:100%;height:400px">
                    <p:ajax event="pointSelect" oncomplete="PF('mapDialog').hide()"
                            listener="#{hotspotUI.onPointSelect}"/>
                </p:gmap>

                <script type="text/javascript">
                    if (navigator.geolocation) {
                        checkGeolocationByHTML5();
                    } else {
                        checkGeolocationByLoaderAPI(); // HTML5 not supported! Fall back to Loader API.
                    }

                    function checkGeolocationByHTML5() {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            setMapCenter(position.coords.latitude, position.coords.longitude);
                        }, function () {
                            checkGeolocationByLoaderAPI(); // Error! Fall back to Loader API.
                        });
                    }

                    function checkGeolocationByLoaderAPI() {
                        if (google.loader.ClientLocation) {
                            setMapCenter(google.loader.ClientLocation.latitude, google.loader.ClientLocation.longitude);
                        } else {
                            // Unsupported! Show error/warning?
                        }
                    }

                    function setMapCenter(latitude, longitude) {
                        PF('map').getMap().setCenter(new google.maps.LatLng(latitude, longitude));
                    }
                </script>
            </h:form>
            <p:ajax event="close" update="mainForm"/>
        </p:dialog>


    </ui:define>

</ui:composition>
