<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>
    <title>forgot password</title>
    <h:outputScript name="js/ripple.js" library="barcelona-layout"/>
    <h:outputScript name="js/layout.js" library="barcelona-layout"/>
</h:head>

<h:body styleClass="login-body">
    <h:form id="changePassForm">
        <p:growl autoUpdate="true" showSummary="false" showDetail="true" sticky="false" id="growl"/>
        <div class="login-panel ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12 login-header">
                    <h1>CHANGE PASSWORD</h1>
                    <h2>VEHICLE CRIME PREVENTION</h2>
                    <p:graphicImage name="images/het.png" library="barcelona-layout"/>
                </div>


                <div class="ui-g-12">
                    <h:panelGroup styleClass="md-inputfield">

                        <p:password value="#{changePasswordUI.newPassword}" id="newPass" feedback="true"
                                    style="width:100%" inline="true" match="newPass2" required="true"
                                    requiredMessage="Please enter new Password"
                                    validatorMessage="Passwords do not match"/>
                        <p:outputLabel value="Enter New Password" for="newPass"/>
                    </h:panelGroup>
                </div>

                <div class="ui-g-12">
                    <h:panelGroup styleClass="md-inputfield">
                        <p:password value="#{changePasswordUI.confirmPassword}" id="newPass2" feedback="true"
                                    style="width:100%" inline="true" required="true"
                                    requiredMessage="Please enter confirm Password"/>
                        <p:outputLabel value="Confirm New Password" for="newPass2"/>
                    </h:panelGroup>
                </div>


                <div class="ui-g-12 button-container">
                    <p:commandButton styleClass="btn btn-block green-btn" onstart="PF('loading').show()"
                                     oncomplete="PF('loading').hide()" value="Change Password" icon="fa fa-key"
                                     update="@form" actionListener="#{changePasswordUI.changeUserPassword}"/>
                    <br/>
                    <p:panelGrid columns="1" style="margin-top:5px;width:100%;">
                        <p:button style="width:100%" value="Home" outcome="/home"/>
                    </p:panelGrid>
                </div>

            </div>
        </div>
        <ui:include src="/common_dialog.xhtml"/>
    </h:form>


    <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="barcelona-layout"/>
    <h:outputStylesheet name="barcelona-layout/css/ripple.css" library="barcelona-layout"/>
</h:body>

</html>