<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <!-- Global Growl Message -->
    <p:growl autoUpdate="true" id="msg"  showSummary="false" showDetail="true" sticky="false"></p:growl>
    <!-- Global Confirm Dialog -->
    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
    </p:confirmDialog>

    <!-- Global loading Dialog -->
    <p:dialog resizable="false" draggable="false"  minimizable="false" widgetVar="loading" hideEffect="clip" showEffect="clip" id="loading" appendTo="@(body)" modal="true" closable="true" width="20%" height="50%" responsive="true" closeOnEscape="true">
        <div style="text-align: center;">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <br/>
            <br/>
            Loading, Please Wait...
        </div>
    </p:dialog>

</ui:composition>
