<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags"
                template="/WEB-INF/template.xhtml"
>

    <ui:define name="title">Dashboard</ui:define>
    menu-form
    <ui:define name="head">

        <style>
          .glow {
            font-size: 30px;
            color: #fff;
            text-align: center;
            animation: glow 1s ease-in-out infinite alternate;
          }

          @-webkit-keyframes glow {
            from {
              text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0a0a0a, 0 0 40px #111111, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
            }

            to {
              text-shadow: 0 0 20px #fff, 0 0 30px #898989, 0 0 40px #525151, 0 0 50px #5e5d5d, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
            }
          }
        </style>
        <script type="text/javascript">
          //<![CDATA[
          function skinBar() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#64B5F6', '#FFD54F'];
            this.cfg.grid = {
              background: '#ffffff',
              borderColor: '#ffffff',
              gridLineColor: '#F5F5F5',
              shadow: false
            };
            this.cfg.axesDefaults = {
              borderWidth: 0.1,
              borderColor: 'bdbdbd',
              rendererOptions: {
                textColor: '#666F77'
              }
            };
            this.cfg.seriesDefaults = {
              shadow: false,
              lineWidth: 1,
              renderer: $.jqplot.BarRenderer,
              markerOptions: {
                shadow: false,
                size: 7,
                style: 'circle'
              }
            }
          }

          //]]>
        </script>
        <style type="text/css">
          .main-content {
            padding: 0;
          }
        </style>
    </ui:define>

    <ui:define name="content">
        <sec:authorize access="hasRole('ROLE_ADMIN')">
            <h:form id="mainForm">
                <div class="ui-g dashboard">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <div class="ui-g card overview-box overview-box-2">
                            <span class="overview-box-name">Total Reported Hotspots</span> <span
                                class="overview-box-count">#{dashboardUI.totalReportedHotspots}</span>
                            <!--  <span class="overview-box-badge">+45%</span> -->
                            <p:graphicImage name="images/dashboard/chart-2.svg"
                                            library="barcelona-layout"/>

                        </div>

                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <div class="ui-g card overview-box overview-box-3">
                            <span class="overview-box-name">Total Number of Hotspots</span> <span
                                class="overview-box-count">#{dashboardUI.totalHotspots}</span>
                            <!--  <span class="overview-box-badge">-75%</span> -->
                            <p:graphicImage name="images/dashboard/chart-3.svg"
                                            library="barcelona-layout"/>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <div class="ui-g card overview-box overview-box-4">
                            <span class="overview-box-name">Total Number Of Registered Users</span>
                            <span
                                    class="overview-box-count">#{dashboardUI.totalUsers}</span>
                            <!--  <span class="overview-box-badge">25%</span> -->
                            <p:graphicImage name="images/dashboard/chart-4.svg"
                                            library="barcelona-layout"/>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <div class="ui-g card overview-box overview-box-1">
                            <span class="overview-box-name">Total Number of Hotspots Request</span>
                            <span
                                    class="overview-box-count">#{dashboardUI.totalHotspotsRequest}</span>
                            <!--  <span class="overview-box-badge">+30%</span> -->
                            <p:graphicImage name="images/dashboard/chart-1.svg"
                                            library="barcelona-layout"/>
                        </div>
                    </div>
                </div>
            </h:form>

            <div class="card">
                <h:form id="usersForm">

                    <ui:include src="/user/download_lazy.xhtml">
                        <ui:param name="file_name" value="Users"/>
                        <ui:param name="target" value="userList"/>
                    </ui:include>
                    <p:dataTable var="var" value="#{userRoleUI.userListDataModel}" id="userList"
                                 rowKey="#{var.id}"
                                 paginator="true" rows="5" paginatorPosition="bottom"
                                 paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100"
                                 reflow="true"
                                 lazy="true">

                        <f:facet name="header">
                            <h:outputText value="Registered Users"/>
                        </f:facet>
                        <p:column headerText="ID Number" sortBy="#{var.idNumber}"
                                  filterBy="#{var.idNumber}">
                            <h:outputText value="#{var.idNumber}"/>
                        </p:column>
                        <p:column headerText="Name" sortBy="#{var.name}" filterBy="#{var.name}">
                            <h:outputText value="#{var.name}"/>
                        </p:column>
                        <p:column headerText="Surname" sortBy="#{var.surname}"
                                  filterBy="#{var.name}">
                            <h:outputText value="#{var.surname}"/>
                        </p:column>

                        <p:column headerText="Email" sortBy="#{var.email}" filterBy="#{var.email}">
                            <h:outputText value="#{var.email}"/>
                        </p:column>

                        <p:column headerText="Cell Number">
                            <h:outputText value="#{var.cellNumber}"/>
                        </p:column>

                        <p:column headerText="Gender">
                            <h:outputText value="#{var.gender.genderName}"/>
                        </p:column>

                        <p:column headerText="Registered Date" sortBy="#{var.createDate}">
                            <h:outputText value="#{var.createDate}">
                                <f:convertDateTime pattern="dd MMM yyyy"/>
                            </h:outputText>
                        </p:column>

                    </p:dataTable>
                </h:form>
            </div>

            <div class="card">
                <h:form id="mailLogForm">
                    <ui:include src="/user/download_lazy.xhtml">
                        <ui:param name="file_name" value="Mail Logs"/>
                        <ui:param name="target" value="mailLogList"/>
                    </ui:include>
                    <p:dataTable var="var" value="#{mailLogUI.mailLogList}" id="mailLogList"
                                 paginator="true" rows="5" paginatorPosition="bottom"
                                 paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100"
                                 reflow="true"
                                 lazy="true">

                        <f:facet name="header">
                            <h:outputText value="Mail Log List"/>
                        </f:facet>

                        <p:column headerText="Subject" sortBy="#{var.subject}">
                            <h:outputText value="#{var.subject}"/>
                        </p:column>

                        <p:column headerText="From" sortBy="#{var.fromEmail}">
                            <h:outputText value="#{var.fromEmail}"/>
                        </p:column>

                        <p:column headerText="To" sortBy="#{var.toEmail}">
                            <h:outputText value="#{var.toEmail}"/>
                        </p:column>

                        <p:column headerText="Status" exportable="false">

                            <h:panelGroup rendered="#{!var.error}">
                                <i style="color: green" class="fa fa-check-circle fa-2x"></i>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{var.error}">
                                <i style="color: red" class="fa fa-times-circle fa-2x"></i>
                            </h:panelGroup>

                        </p:column>

                        <p:column headerText="Error Message">
                            <h:outputText style="color: red"
                                          value="#{dashboardUI.trimErrorMessage(var.errorMessage)}"/>
                        </p:column>


                        <p:column headerText="Date Created" sortBy="#{var.createDate}">
                            <h:outputText value="#{var.createDate}">
                                <f:convertDateTime pattern="dd MMM yyyy"/>
                            </h:outputText>
                        </p:column>

                    </p:dataTable>
                </h:form>
            </div>
        </sec:authorize>

        <h:panelGroup rendered="#{!dashboardUI.hideUserWelcomeMssg()}">
            <p:fieldset styleClass="glow">
                <h1 class="glow">#{dashboardUI.showGreeting()}</h1>
            </p:fieldset>
            <p:graphicImage style="width: 100% " rendered="true" name="images/welcome.png"
                            library="barcelona-layout"/>
        </h:panelGroup>
    </ui:define>

</ui:composition>