<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>
    <title>info</title>
    <h:outputStylesheet name="css/my_style.css" library="barcelona-layout"/>
    <script type="text/javascript">
        $(function () {
            var menu = $('#menu');

            $('#menu-button').on('click', function (e) {
                if (menu.hasClass('lmenu-active')) {
                    menu.addClass('fadeOutUp');

                    setTimeout(function () {
                        menu.removeClass('fadeOutUp fadeInDown lmenu-active');
                    }, 500);
                } else {
                    menu.addClass('lmenu-active fadeInDown');
                }
                e.preventDefault();
            });

            menu.find('a').on('click', function () {
                menu.removeClass('fadeOutUp fadeInDown lmenu-active');
            });
        });

        $(window).load(function () {
            $(".post-module").hover(function () {
                $(this).find(".description").stop().animate(
                    {
                        height: "toggle",
                        opacity: "toggle"
                    },
                    300
                );
            });
        });
    </script>

</h:head>

<h:body styleClass="landing-body">
    <div id="home" class="landing-wrapper">
        <div id="header">
            <ui:include src="/link_include.xhtml"/>
            <div class="header-content">
                <h1>Vehicle Crime Prevetion</h1>
            </div>
        </div>

        <div id="features">
            <div class="features-content">
                <div class="ui-g">

                    <div class="ui-g-12 ui-md-3">
                        <p:graphicImage name="images/landing/reported_hotspot.png" library="barcelona-layout"/>
                        <h4>#{dashboardUI.totalReportedHotspots}</h4>
                        <h3>Repoteed Hotspots</h3>
                    </div>

                    <div class="ui-g-12 ui-md-3">
                        <p:graphicImage name="images/landing/crime_hotspot.png" library="barcelona-layout"/>\
                        <h4>#{dashboardUI.totalHotspots}</h4>
                        <h3>Number of Hotspots</h3>
                    </div>

                    <div class="ui-g-12 ui-md-3">
                        <p:graphicImage name="images/landing/users.jpg" library="barcelona-layout"/>
                        <h4>#{dashboardUI.totalUsers}</h4>
                        <h3>Registed users</h3>
                    </div>

                </div>
            </div>
        </div>


        <ui:include src="/home_footer_include.xhtml"/>
    </div>


</h:body>

</html>