<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <style type="text/css">
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: #bec9ce;
            margin-top: 20px;
        }

        .footer_content {
            margin: 20px;
            text-align: center;
        }
    </style>

    <div id="footer" class="footer" style="background-color: #bec9ce">
        <div class="footer_content">
            Copyright @
            <script>document.write(new Date().getFullYear())</script>
            <a href="#">Vehicle Crime Prevetion (pty) Ltd</a>
        </div>
    </div>

    <h:outputStylesheet name="css/animate.css" library="barcelona-layout"/>
    <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css"
                        library="barcelona-layout"/>

    <!-- Primefaces GMap -->
    <script src="https://maps.google.com/maps/api/js?sensor=true&amp;key=AIzaSyB7plpDbwv-gXVGImPpuf_haPl-IEsTp3w"
            type="text/javascript"></script>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>


</ui:composition>
