<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>
    <title>login</title>
    <h:outputScript name="js/ripple.js" library="barcelona-layout"/>
    <h:outputScript name="js/layout.js" library="barcelona-layout"/>
</h:head>

<h:body styleClass="login-body">
    <h:form prependId="false">
        <div class="login-panel ui-fluid">
            <div class="ui-g">

                <div class="ui-g-12 login-header">
                    <h1>LOGIN</h1>
                    <h2>VEHICLE CRIME PREVENTION</h2>
                </div>

                <h:panelGroup rendered="${!empty param['error']}"
                              style="margin-top: 0px; margin-left: 10px; margin-right: 10px; width:100%">

                    <div style="text-align: center;"><p
                            style="color:red;">Invalid login details, please rectify</p></div>
                    <div style="text-align: center;"><p style="color:red;">OR</p></div>
                    <div style="text-align: center;">
                        <p:link style="color: #0b6fb2"
                                outcome="register"
                                value="CREATE NEW ACCOUNT"/>
                    </div>
                    <hr/>
                </h:panelGroup>

                <div class="ui-g-12">
                    <h:panelGroup styleClass="md-inputfield">
                        <p:inputText id="username" style="width:100%" required="true"
                                     requiredMessage="Please enter your username"/>
                        <label>Username</label>
                    </h:panelGroup>
                </div>
                <div class="ui-g-12">
                    <h:panelGroup styleClass="md-inputfield">
                        <p:inputText id="password" style="width:100%" required="true"
                                     type="password"
                                     requiredMessage="Please enter your username"/>
                        <label>Password</label>
                    </h:panelGroup>
                </div>


                <div class="ui-g-12 button-container">

                    <p:commandButton style="width:100%" value="Sign In" ajax="false"/>
                    <br/>
                    <p:panelGrid columns="1" style="margin-top:5px;width:100%;">
                        <p:button rendered="false" style="width:100%" value="New Account"
                                  outcome="/register"/>
                        <p:button style="width:100%" value="Home" outcome="/home"/>
                        <p:button style="width:100%" value="Forgot Password"
                                  outcome="/forgotpassword"/>
                    </p:panelGrid>
                </div>


            </div>
        </div>


    </h:form>

    <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css"
                        library="barcelona-layout"/>

</h:body>

</html>