<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>
    <title>register</title>
    <h:outputStylesheet name="css/my_style.css" library="barcelona-layout"/>
    <script type="text/javascript">
        $(function () {
            var menu = $('#menu');

            $('#menu-button').on('click', function (e) {
                if (menu.hasClass('lmenu-active')) {
                    menu.addClass('fadeOutUp');

                    setTimeout(function () {
                        menu.removeClass('fadeOutUp fadeInDown lmenu-active');
                    }, 500);
                } else {
                    menu.addClass('lmenu-active fadeInDown');
                }
                e.preventDefault();
            });

            menu.find('a').on('click', function () {
                menu.removeClass('fadeOutUp fadeInDown lmenu-active');
            });
        });

        $(window).load(function () {
            $(".post-module").hover(function () {
                $(this).find(".description").stop().animate(
                    {
                        height: "toggle",
                        opacity: "toggle"
                    },
                    300
                );
            });
        });
    </script>

</h:head>

<h:body styleClass="landing-body">
    <div id="home" class="landing-wrapper">
        <div id="header">
            <ui:include src="/link_include.xhtml"/>
            <div class="header-content">
                <h1>VEHICLE CRIME PREVETION</h1>
            </div>
        </div>

        <div class="news-details-box news-details-center">
            <h1 class="p-mt-0">Create profile</h1>
            <p:panel header="Please provide the following">
                <h:form id="mainForm">
                    <p:fieldset>
                        <br/>

                        <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">

                            <h:panelGroup>
                                <p:outputLabel value="ID Number" for="idNumber"/>
                                <p:inputMask mask="#{commonUI.ID_NUMBER_FORMAT}" value="#{userUI.user.idNumber}"
                                             id="idNumber" style="width:100%" required="true"
                                             requiredMessage="Please enter id number"/>
                            </h:panelGroup>

                            <h:panelGroup>
                                <p:outputLabel value="Name" for="name"/>
                                <p:inputText id="name" value="#{userUI.user.name}" style="width:100%"
                                             required="true" requiredMessage="Please enter a valid name. Ensure that no special charectors or numbers are provided">
                                    <f:validateRegex pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
                                </p:inputText>
                            </h:panelGroup>

                            <h:panelGroup>
                                <p:outputLabel value="Surname" for="surname"/>
                                <p:inputText id="surname" value="#{userUI.user.surname}" style="width:100%"
                                             required="true" requiredMessage="Please enter a valid surname Ensure that no special charectors or numbers are provided">
                                    <f:validateRegex pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
                                </p:inputText>
                            </h:panelGroup>

                            <h:panelGroup>
                                <p:outputLabel value="Title" for="title"/>
                                <p:selectOneMenu id="title" value="#{userUI.user.title}"
                                                 converter="#{titleConvertor}" style="width:100%"
                                                 requiredMessage="Select title" required="true">
                                    <f:selectItem itemLabel="Select Title" noSelectionOption="true"/>
                                    <f:selectItems value="#{commonItemUI.selectItemsTitle}" var="rv"
                                                   itemLabel="#{rv.description} (For #{rv.genderType.friendlyName})" itemValue="#{rv}"/>
                                </p:selectOneMenu>
                            </h:panelGroup>

                            <h:panelGroup>
                                <p:outputLabel value="Cell Number" for="cellNumber"/>
                                <p:inputMask mask="#{commonUI.CELLPHONE_FORMAT}" value="#{userUI.user.cellNumber}"
                                             id="cellNumber" style="width:100%" required="true"
                                             requiredMessage="Please enter cell numbere"/>
                            </h:panelGroup>

                            <h:panelGroup>
                                <p:outputLabel value="Email" for="email"/>
                                <p:inputText value="#{userUI.user.email}" id="email" style="width:100%"
                                             required="true" type="email"
                                             validatorMessage="Please enter a valid email address"
                                             requiredMessage="Please enter email address">
                                    <f:validateRegex pattern="#{commonUI.EMAIL_FORMAT}"/>
                                </p:inputText>
                            </h:panelGroup>

                            <h:panelGroup>
                                <p:outputLabel value="Password" for="password"/>
                                <p:inputText id="password" value="#{userUI.user.password}" style="width:100%"
                                             type="password" feedback="true"
                                             required="true" requiredMessage="Please enter password"/>
                            </h:panelGroup>

                            <h:panelGroup>
                                <p:outputLabel value="Confirm Password" for="confirmPass"/>
                                <p:inputText id="confirmPass" value="#{userUI.confirmPass}" style="width:100%"
                                             type="password" feedback="true"
                                             required="true" requiredMessage="Please enter conrifm password"/>
                            </h:panelGroup>

                        </p:panelGrid>

                        <br/>
                    </p:fieldset>
                    <h:panelGroup>
                        <br/>
                        <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()"
                                         value="Submit" icon="fa fa-save" class="btn btn-primary"
                                         update="@form" actionListener="#{userUI.registerUser()}"/>
                        <p:spacer width="10"/>
                        <p:commandButton value="Clear" process="@this" icon="fa fa-recycle" class="btn orange-btn"
                                         update="@form" actionListener="#{userUI.reset()}"/>
                    </h:panelGroup>
                </h:form>
            </p:panel>
            <br/>

        </div>

        <p:dialog widgetVar="mapDialog" hideEffect="clip" showEffect="clip"
                  id="mapDialog" appendTo="@(body)" modal="true" closable="true"
                  width="50%" height="70%" responsive="true" closeOnEscape="true">
            <f:facet name="header">
                <h4 class="box-title">Select Location</h4>
            </f:facet>

            <h:form id="mapForm" prependId="false">

                <p:gmap widgetVar="map" rendered="true" id="map"
                        center="-26.205072,28.046915" zoom="15" type="ROADMAP"
                        style="width:100%;height:400px">
                    <p:ajax event="pointSelect" oncomplete="PF('mapDialog').hide()"
                            listener="#{reportedHotspotUI.onPointSelect}"/>
                </p:gmap>

                <script type="text/javascript">
                    if (navigator.geolocation) {
                        checkGeolocationByHTML5();
                    } else {
                        checkGeolocationByLoaderAPI(); // HTML5 not supported! Fall back to Loader API.
                    }

                    function checkGeolocationByHTML5() {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            setMapCenter(position.coords.latitude, position.coords.longitude);
                        }, function () {
                            checkGeolocationByLoaderAPI(); // Error! Fall back to Loader API.
                        });
                    }

                    function checkGeolocationByLoaderAPI() {
                        if (google.loader.ClientLocation) {
                            setMapCenter(google.loader.ClientLocation.latitude, google.loader.ClientLocation.longitude);
                        } else {
                            // Unsupported! Show error/warning?
                        }
                    }

                    function setMapCenter(latitude, longitude) {
                        PF('map').getMap().setCenter(new google.maps.LatLng(latitude, longitude));
                    }
                </script>
            </h:form>
            <p:ajax event="close" update="mainForm"/>
        </p:dialog>


        <ui:include src="/common_dialog_include.xhtml"/>
        <ui:include src="/home_footer_include.xhtml"/>
    </div>


</h:body>

</html>