<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>
    <title>report hotspot</title>
    <h:outputStylesheet name="css/my_style.css" library="barcelona-layout"/>
    <script type="text/javascript">
        $(function () {
            var menu = $('#menu');

            $('#menu-button').on('click', function (e) {
                if (menu.hasClass('lmenu-active')) {
                    menu.addClass('fadeOutUp');

                    setTimeout(function () {
                        menu.removeClass('fadeOutUp fadeInDown lmenu-active');
                    }, 500);
                } else {
                    menu.addClass('lmenu-active fadeInDown');
                }
                e.preventDefault();
            });

            menu.find('a').on('click', function () {
                menu.removeClass('fadeOutUp fadeInDown lmenu-active');
            });
        });

        $(window).load(function () {
            $(".post-module").hover(function () {
                $(this).find(".description").stop().animate(
                    {
                        height: "toggle",
                        opacity: "toggle"
                    },
                    300
                );
            });
        });
    </script>

</h:head>

<h:body styleClass="landing-body">
    <div id="home" class="landing-wrapper">
        <div id="header">
            <ui:include src="/link_include.xhtml"/>
            <div class="header-content">
                <h1>VEHICLE CRIME PREVETION</h1>
            </div>
        </div>

        <div class="news-details-box news-details-center">
            <h1 class="p-mt-0">Report vehicle crime hotspot</h1>
            <p:panel header="Please provide the following">
                <h:form id="mainForm">
                    <p:fieldset>
                        <br/>
                        <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
                            <h:panelGroup>
                                <p:outputLabel value="Full Name" for="fullName"/>
                                <p:inputText id="fullName" value="#{reportedHotspotUI.reportedHotspot.fullName}"
                                             style="width:100%" required="true"
                                             requiredMessage="Please enter full name">
                                    <p:ajax/>
                                </p:inputText>
                            </h:panelGroup>

                            <h:panelGroup>
                                <p:outputLabel value="Email" for="email"/>
                                <p:inputText id="email" value="#{reportedHotspotUI.reportedHotspot.email}"
                                             style="width:100%" required="true"
                                             requiredMessage="Please enter email">
                                    <p:ajax/>
                                </p:inputText>
                            </h:panelGroup>
                        </p:panelGrid>

                        <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                            <p:fieldset legend="Search Location">
                                <p:panelGrid columns="2" layout="grid"
                                             styleClass="ui-panelgrid-blank form-group">
                                    <h:panelGroup>
                                        <h:panelGroup id="pgSearchAddr">
                                            <p:outputLabel style="width:90%"
                                                           value="Address(e.g Complex/building, street name or town)"
                                                           for="searchAddr"/>
                                            <p:inputText
                                                    id="searchAddr" value="#{reportedHotspotUI.searchAdderss}"
                                                    style="width:90%"
                                                    required="false" requiredMessage="Please enter address"/>

                                            <p:spacer width="5"></p:spacer>
                                            <p:commandButton onstart="PF('loading').show()"
                                                             oncomplete="PF('loading').hide()"
                                                             icon="fa fa-search"
                                                             class="btn btn-primary"
                                                             process="pgSearchAddr"
                                                             update="@form"
                                                             actionListener="#{reportedHotspotUI.findGPSCoordinates}"/>
                                        </h:panelGroup>
                                    </h:panelGroup>

                                    <h:panelGroup>
                                        <h:panelGroup styleClass="md-inputfield" rendered="true">
                                            <p:commandButton
                                                    update="mapDialog mapForm"
                                                    oncomplete="PF('mapDialog').show()"
                                                    value="Or Select Hotspot Location" class="btn btn-default"
                                                    icon="fa fa-map-marker" title="Pin Location"
                                                    process="@this"/>
                                        </h:panelGroup>
                                    </h:panelGroup>

                                </p:panelGrid>
                            </p:fieldset>

                            <h:panelGroup rendered="#{reportedHotspotUI.reportedHotspot.latitude ne null}">
                                <p:fieldset legend="Location Details">
                                    <p:panelGrid columns="2">
                                        <h:outputText value="LONGITUDE"/>
                                        <h:outputText value=": #{reportedHotspotUI.reportedHotspot.longitude}"/>

                                        <h:outputText value="LATITUDE"/>
                                        <h:outputText value=": #{reportedHotspotUI.reportedHotspot.latitude}"/>

                                        <h:outputText value="ADDRESS"/>
                                        <h:outputText value=": #{reportedHotspotUI.reportedHotspot.formattedAddress}"/>
                                    </p:panelGrid>
                                </p:fieldset>
                            </h:panelGroup>

                        </p:panelGrid>

                        <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                            <h:panelGroup>
                                <p:outputLabel for="crimeType" value="Select the type of crime(s)"/>
                                <p:selectManyMenu required="true" style="width: 100%"
                                                  requiredMessage="Please select at least one crime type"
                                                  id="crimeType" value="#{reportedHotspotUI.selectedCrimeTypeList}"
                                                  converter="#{crimeTypeConvertor}"
                                                  var="t" filter="true" filterMatchMode="contains" showCheckbox="true">
                                    <f:selectItems value="#{reportedHotspotUI.crimeTypeList}" var="var"
                                                   itemLabel="#{var.description}" itemValue="#{var}"/>
                                    <p:column>
                                        <h:outputText value="#{t.description}"/>
                                    </p:column>
                                    <p:ajax></p:ajax>
                                </p:selectManyMenu>
                            </h:panelGroup>


                            <p:fieldset legend="Additional Info">
                                <p:inputTextarea id="additionalInfo" rows="2" cols="33"
                                                 placeholder="Please enter any additional info"
                                                 value="#{reportedHotspotUI.reportedHotspot.additionalInfo}"
                                                 style="width: 100%">
                                    <p:ajax></p:ajax>
                                </p:inputTextarea>
                            </p:fieldset>

                        </p:panelGrid>
                        <br/>
                    </p:fieldset>
                    <h:panelGroup styleClass="md-inputfield">
                        <br/>
                        <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()"
                                         value="Submit" icon="fa fa-save" class="btn btn-primary"
                                         update="@form"
                                         actionListener="#{reportedHotspotUI.saveReportedHotspot()}"/>
                        <p:spacer width="10"/>
                        <p:commandButton value="Clear" process="@this" icon="fa fa-recycle" class="btn orange-btn"
                                         update="@form" actionListener="#{reportedHotspotUI.reset()}"/>
                    </h:panelGroup>
                </h:form>
            </p:panel>
            <br/>

        </div>

        <p:dialog widgetVar="mapDialog" hideEffect="clip" showEffect="clip"
                  id="mapDialog" appendTo="@(body)" modal="true" closable="true"
                  width="50%" height="70%" responsive="true" closeOnEscape="true">
            <f:facet name="header">
                <h4 class="box-title">Select Location</h4>
            </f:facet>

            <h:form id="mapForm" prependId="false">

                <p:gmap widgetVar="map" rendered="true" id="map"
                        center="-26.205072,28.046915" zoom="15" type="ROADMAP"
                        style="width:100%;height:400px">
                    <p:ajax event="pointSelect" oncomplete="PF('mapDialog').hide()"
                            listener="#{reportedHotspotUI.onPointSelect}"/>
                </p:gmap>

                <script type="text/javascript">
                    if (navigator.geolocation) {
                        checkGeolocationByHTML5();
                    } else {
                        checkGeolocationByLoaderAPI(); // HTML5 not supported! Fall back to Loader API.
                    }

                    function checkGeolocationByHTML5() {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            setMapCenter(position.coords.latitude, position.coords.longitude);
                        }, function () {
                            checkGeolocationByLoaderAPI(); // Error! Fall back to Loader API.
                        });
                    }

                    function checkGeolocationByLoaderAPI() {
                        if (google.loader.ClientLocation) {
                            setMapCenter(google.loader.ClientLocation.latitude, google.loader.ClientLocation.longitude);
                        } else {
                            // Unsupported! Show error/warning?
                        }
                    }

                    function setMapCenter(latitude, longitude) {
                        PF('map').getMap().setCenter(new google.maps.LatLng(latitude, longitude));
                    }
                </script>
            </h:form>
            <p:ajax event="close" update="mainForm"/>
        </p:dialog>


        <ui:include src="/common_dialog_include.xhtml"/>
        <ui:include src="/home_footer_include.xhtml"/>
    </div>


</h:body>

</html>