<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>
    <title>safety tips</title>
    <h:outputStylesheet name="css/my_style.css" library="barcelona-layout"/>
    <script type="text/javascript">
      $(function () {
        var menu = $('#menu');

        $('#menu-button').on('click', function (e) {
          if (menu.hasClass('lmenu-active')) {
            menu.addClass('fadeOutUp');

            setTimeout(function () {
              menu.removeClass('fadeOutUp fadeInDown lmenu-active');
            }, 500);
          } else {
            menu.addClass('lmenu-active fadeInDown');
          }
          e.preventDefault();
        });

        menu.find('a').on('click', function () {
          menu.removeClass('fadeOutUp fadeInDown lmenu-active');
        });
      });

      $(window).load(function () {
        $(".post-module").hover(function () {
          $(this).find(".description").stop().animate(
              {
                height: "toggle",
                opacity: "toggle"
              },
              300
          );
        });
      });
    </script>

</h:head>

<h:body styleClass="landing-body">
    <div id="home" class="landing-wrapper">
        <div id="header">
            <ui:include src="/link_include.xhtml"/>
            <div class="header-content">
                <h1>VEHICLE CRIME PREVETION</h1>
            </div>
        </div>

        <div class="news-details-box news-details-center">
            <h1 class="p-mt-0">Vehicle crime safety tips</h1>
            <p:panel>
                <h:form id="mainForm">

                    <div id="pricing" style="width: 100%" >
                        <div class="pricing-content" style="width: 100%">
                            <div class="pricing-box pricing-basic" style="width: 100%">
                                <p:repeat value="#{safetyTipUI.safetyTipBeanList}" var="sp">
                                    <h3>#{sp.title}</h3>
                                    <div class="pricing-features">
                                        <div class="ui-g">
                                            <p:repeat value="#{sp.tipList}" var="tip"
                                                      varStatus="myVarStatus">
                                                <div class="ui-g-12 ui-md-12">
                                    <span class="pricing-feature-icon"
                                          style="background-color: #00bbff"><i class="fa fa-check"/></span>
                                                    <span class="pricing-feature-text">#{tip}</span>
                                                </div>
                                            </p:repeat>
                                        </div>
                                    </div>
                                </p:repeat>
                            </div>
                        </div>
                    </div>

                </h:form>
            </p:panel>
            <br/>

        </div>

        <ui:include src="/common_dialog_include.xhtml"/>
        <ui:include src="/home_footer_include.xhtml"/>
    </div>


</h:body>

</html>