<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>
    <title>view hotsport</title>
    <h:outputStylesheet name="css/my_style.css" library="barcelona-layout"/>
    <script type="text/javascript">
      $(function () {
        var menu = $('#menu');

        $('#menu-button').on('click', function (e) {
          if (menu.hasClass('lmenu-active')) {
            menu.addClass('fadeOutUp');

            setTimeout(function () {
              menu.removeClass('fadeOutUp fadeInDown lmenu-active');
            }, 500);
          } else {
            menu.addClass('lmenu-active fadeInDown');
          }
          e.preventDefault();
        });

        menu.find('a').on('click', function () {
          menu.removeClass('fadeOutUp fadeInDown lmenu-active');
        });
      });

      $(window).load(function () {
        $(".post-module").hover(function () {
          $(this).find(".description").stop().animate(
              {
                height: "toggle",
                opacity: "toggle"
              },
              300
          );
        });
      });
    </script>

</h:head>

<h:body styleClass="landing-body">
    <div id="home" class="landing-wrapper">
        <div id="header">
            <ui:include src="/link_include.xhtml"/>
            <div class="header-content">
                <h1>VEHICLE CRIME PREVETION</h1>
            </div>
        </div>

        <div class="news-details-box news-details-center">
            <h1 class="p-mt-0">Vehicle crime hotspot</h1>
            <p:panel rendered="true">
                <h:form id="mainForm" prependId="false">
                    <p:gmap id="gmap" center="-30.559482,22.937506" zoom="6" type="HYBRID"
                            model="#{viewHotspotUI.simpleModel}" style="width:100%;height:800px">
                        <p:ajax event="overlaySelect" listener="#{viewHotspotUI.onMarkerSelect}"
                                update="@form"/>
                    </p:gmap>
                </h:form>
            </p:panel>
            <br/>


            <p:panel rendered="false">
                <h:form prependId="false">
                       <p:gmap id="gmap2" center="-30.559482,22.937506" zoom="6" type="HYBRID"
                            style="width:100%;height:800px" model="#{viewHotspotUI.circleModel}">
                        <p:ajax event="overlaySelect" listener="#{viewHotspotUI.onCircleSelect}"
                                update="@form"/>
                    </p:gmap>
                </h:form>
            </p:panel>


        </div>

        <ui:include src="/common_dialog_include.xhtml"/>
        <ui:include src="/home_footer_include.xhtml"/>
    </div>


</h:body>

</html>