<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:hf="http://highfaces.org">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title><ui:insert name="title">webapp</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="barcelona-layout" />
        <h:outputScript name="js/layout.js" library="barcelona-layout" />
        <h:outputScript name="js/ripple.js" library="barcelona-layout" />
        <ui:insert name="head"/>
        
    </h:head>

    <h:body styleClass="main-body">
        <div class="layout-wrapper #{guestPreferences.overlayMenu ? 'layout-overlay-menu' : null} #{guestPreferences.orientationRTL ? 'layout-rtl' : null}">
            <ui:include src="./topbar.xhtml" />
            <ui:include src="./menu.xhtml" />
            <!-- Global Growl Message -->
		    <p:growl autoUpdate="true" id="msg"  showSummary="false" showDetail="true" sticky="false"></p:growl>
	        <!-- Global Confirm Dialog -->
		    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                 <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
                 <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
             </p:confirmDialog>
			
			<!-- Global loading Dialog -->
			<p:dialog resizable="false" draggable="false"  minimizable="false" widgetVar="loading" hideEffect="clip" showEffect="clip" id="loading" appendTo="@(body)" modal="true" closable="true" width="15%" height="50%" responsive="true" closeOnEscape="true">
				  <div style="text-align: center;">
				  	<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				  		<br/>
				  		<br/>
				  		 Loading, Please Wait...
				  </div>
			</p:dialog>
		    
		    
            <div class="layout-main">
                <div class="layout-main-content">
                    <ui:insert name="content"/>
                    
                    <ui:include src="./footer.xhtml" />
                </div>
                
                
            </div>
        </div>
        
        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
           <f:facet name="start">
               <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
           </f:facet>

           <f:facet name="complete">
               <h:outputText value="" />
           </f:facet>
       </p:ajaxStatus>
        
        <h:outputStylesheet name="css/nanoscroller.css" library="barcelona-layout" />
        <h:outputStylesheet name="css/style.css" library="barcelona-layout" />
        <h:outputStylesheet name="css/animate.css" library="barcelona-layout" />
        <h:outputStylesheet name="css/ripple.css" library="barcelona-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="barcelona-layout" />
        <!-- Primefaces GMap -->
  		 <script src="https://maps.google.com/maps/api/js?sensor=true&amp;key=AIzaSyB7plpDbwv-gXVGImPpuf_haPl-IEsTp3w" type="text/javascript"></script>
	
    </h:body>

</html>